body {font-family: "Montserrat", sans-serif; font-size: $xsmallText; color: var(--text-color); background-color: var(--bg-color); overflow-x: hidden !important;}
.container {width: $container-lg; margin: 0 auto;}
section {min-height: 100vh; padding-top: 120px; padding-bottom: 100px;}


